# QUESTION 4

In [ ]:
# H0 = defective % does varies
# H1 = defective % does not varie centre
# Aplha = 0.05

In [7]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import f_oneway
data = pd.read_csv("D:\Data Science\Assignment\Assignment 3\Costomer+OrderForm.csv")

In [3]:
data.head(11)

   Phillippines   Indonesia       Malta       India
0    Error Free  Error Free   Defective  Error Free
1    Error Free  Error Free  Error Free   Defective
2    Error Free   Defective   Defective  Error Free
3    Error Free  Error Free  Error Free  Error Free
4    Error Free  Error Free   Defective  Error Free
5    Error Free  Error Free  Error Free  Error Free
6    Error Free   Defective  Error Free  Error Free
7    Error Free  Error Free  Error Free  Error Free
8    Error Free  Error Free  Error Free  Error Free
9    Error Free  Error Free  Error Free  Error Free
10    Defective  Error Free  Error Free  Error Free

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [15]:
np.random.seed(1)
data = np.random.normal(loc=0, scale=1, size=(300, 4))

In [16]:
f_statistic, p_value = f_oneway(data[:, 0], data[:, 1], data[:, 2], data[:, 3])
print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

F-statistic: 0.4231676590890506
P-value: 0.7364214051913178

In [ ]:
# Since the p-value is not equal to aplha, we reject the null hypothesis.