# QUESTION 2

# Here the null hypothesis can be,
# H0 = The TOT between laboratories can be same.
# H1 = The TOT between Laboratories can be diffrent.
# We use ANOVA for test the diffrence between Laboratories.

In [7]:
import pandas as pd
import numpy as np
import scipy.stats as stats
data = pd.read_csv("D:\Data Science\Assignment\Assignment 3\LabTAT.csv")

In [2]:
data.head(6)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12

In [8]:
f_statistic ,p_value = stats.f_oneway(data['Laboratory 1'],data['Laboratory 2'],data['Laboratory 3'],data['Laboratory 4'])

In [9]:
print(f'F-Statistic: {f_statistic}')
print(f'P-Value: {p_value}')

F-Statistic: 118.70421654401437
P-Value: 2.1156708949992414e-57

# Conclusion / Answer : 
# Since the p-value is less than 5% signifance we fail to  reject the null hypothesis.
# This suggests that there is enough evidence to conclude that there is a significant- 
# difference in the average Turn Around Time among the different laboratories.